<div class="header-wraper">
  <div class="topleft">
    <a [routerLink]="['/']" matTooltip="My Store">
      <h1 i18n="@@appTitle">Demo Material Store</h1>
    </a>
    <div class="header-wraper">
           <button i18n="@@buttonHome" mat-button matTooltip="Home" routerLink="/home">Home</button>
      <button i18n="@@buttonCustomer" mat-button matTooltip="Customer" routerLink="/customers">Demo Customer</button>
      <button i18n="@@buttonProducts" mat-button matTooltip="Products" routerLink="/products">Demo Products</button>
      <a routerLink="/products/cart" class="button fancy-button warn"><i class="material-icons">shopping_cart</i>           
        <span class="badge badge-warning">{{cartvalueLength}}</span>       
       </a>
    </div>    
  </div>
</div>

<!-- <mat-card>
  <mat-card-header>
    <mat-card-title>Shiba Inu</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-grid-list cols="2" rowHeight="2:1">
      <mat-grid-tile><mat-card>Simple card</mat-card></mat-grid-tile>
      <mat-grid-tile><mat-card>Simple card</mat-card></mat-grid-tile>
    </mat-grid-list>
  </mat-card-content>
</mat-card> -->

<router-outlet></router-outlet>
