<h1 i18n="@@homeTitle">Home</h1>
<hr>
<div class="row">
  <!-- <div class="col-sm-12">
    <h4>Shopping Cart</h4>
    <p>The software allows online shopping customers to accumulate a list of items for purchase. At the point of sale, the software typically calculates a total for the order, including freight transport, postage as well as packaging and labeling. Associated taxes are calculated as applicable. The data is used in online marketing..</p>
    <p>Information copy rights @Wiki-pedia</p>
  </div> -->
  <app-home-child>
    <div header class="col-sm-12"> <h4 i18n="@@homePageTitle">Shopping Cart</h4></div>
	  <div body class="col-sm-12">
      <p i18n="@@homePageDescription">The software allows online shopping customers to accumulate a list of items for purchase. At the point of sale, the software typically calculates a total for the order, including freight transport, postage as well as packaging and labeling. Associated taxes are calculated as applicable. The data is used in online marketing..</p>
    <p i18n="@@homePageCopyRight">Information copy rights @Wiki-pedia</p>
    </div>
  </app-home-child>

<!-- <div class="container">
  <article>
    <h1 i18n="Card Header|Title for the under construction card@@constructionHeader">Under Construction!</h1>
    <p i18n="Card Descritpion|A description for the under construction card.@@constructionDescription">This page is under construction.</p>
  </article>
</div> -->
</div>